{# templates/appointment/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appointments</h1>

{% if appointments is not empty %}
    <ul>
        {% for appointment in appointments %}
            <li>{{ appointment.id }} - {{ appointment.progress }}</li>
            {# Adjust the properties you want to display accordingly #}
        {% endfor %}
    </ul>
{% else %}
    <p>No appointments found.</p>
{% endif %}


    <a href="{{ path('app_appointment_new') }}">New Appointment</a>
{% endblock %}
