{% extends "base.html.twig" %}
{% block body %}
<!--==============================
Hero Area
==============================-->
    <div class="th-hero-wrapper hero-2" id="hero" data-bg-src="assets/img/hero/hero_bg_2_1.jpg">
        <div class="hero-inner">
            <div class="container">
                <div class="hero-style2">
                    <span class="sub-title"><img src="assets/img/theme-img/title_icon.svg" alt="shape">24/7 Emergency Service</span>
                    <h1 class="hero-title2">
                        <span class="title1">Caring for <span class="line-text">Health</span></span>
                        <span class="title2">Caring for You</span>
                    </h1>
                    <p class="hero-text">A brief statement outlining the purpose and mission of the clinic. This can include the commitment to patient care, community health.</p>
                    <div class="btn-group justify-content-center">
                        <a href="about.html" class="th-btn">Discover More</a>
                        <a href="service.html" class="th-btn style4">See All Services</a>
                    </div>
                </div>
            </div>
            <div class="hero-img">
                <img src="assets/img/hero/hero_2_1.png" alt="Image">
            </div>
            <div class="hero-shape1">
                <img src="assets/img/hero/hero_shape_2_1.svg" alt="shape">
            </div>
            <div class="hero-shape2">
                <img src="assets/img/hero/hero_shape_2_2.svg" alt="shape">
            </div>
            <div class="hero-shape3">
                <img src="assets/img/hero/hero_shape_2_3.svg" alt="shape">
            </div>
            <div class="hero-shape4">
                <img src="assets/img/hero/hero_shape_2_4.svg" alt="shape">
            </div>
            <div class="hero-shape5">
                <img src="assets/img/hero/hero_shape_2_5.svg" alt="shape">
            </div>
        </div>
    </div>
    <!--======== / Hero Section ========-->
    <!--==============================
About Area  
==============================-->
    <div class="space" id="about-sec">
        <div class="shape-mockup" data-top="0" data-right="0"><img src="assets/img/shape/pattern_shape_1.png" alt="shape"></div>
        <div class="shape-mockup jump" data-bottom="10%" data-right="3%"><img src="assets/img/shape/medicine_1.png" alt="shape"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box1">
                        <div class="img1">
                            <img src="assets/img/normal/about_1_3.png" alt="About">
                        </div>
                        <div class="about-info">
                            <h3 class="box-title">Dr. Esita Jabed</h3>
                            <p class="box-text">Mention the languages <br> in which the staff.</p>
                            <div class="box-review">
                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                            </div>
                            <a href="tel:+16356478965" class="box-link"><i class="fa-solid fa-phone"></i> +163 564 78965</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                        <div class="title-area mb-32">
                            <span class="sub-title"><img src="assets/img/theme-img/title_icon.svg" alt="shape">About Us Company</span>
                            <h2 class="sec-title">Affordable Health Care Solutions</h2>
                            <p class="sec-text">A brief statement outlining the purpose and mission of the clinic. This can include the commitment to patient care, community health, and any specifical goals for our values.</p>
                        </div>
                        <div class="mb-30 mt-n1">
                            <div class="checklist style2 list-two-column">
                                <ul>
                                    <li><i class="fas fa-heart-pulse"></i> Medical Professionals</li>
                                    <li><i class="fas fa-heart-pulse"></i> Facilities and Equipment</li>
                                    <li><i class="fas fa-heart-pulse"></i> Emergency Care</li>
                                    <li><i class="fas fa-heart-pulse"></i> Medical Consulting</li>
                                    <li><i class="fas fa-heart-pulse"></i> Services Offered</li>
                                    <li><i class="fas fa-heart-pulse"></i> Specializations</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a href="about.html" class="th-btn">More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Service Area  
==============================-->
    <section class="overflow-hidden bg-smoke space" id="service-sec" data-bg-src="assets/img/bg/service_bg_1.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="title-area text-center">
                        <span class="sub-title"><img src="assets/img/theme-img/title_icon.svg" alt="Icon">Our Services</span>
                        <h2 class="sec-title">Our Mediax specialties Technical service</h2>
                    </div>
                </div>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_1.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_1.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Internal Medicine</a></h3>
                        <p class="box-text">30+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_2.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_2.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Dental Care</a></h3>
                        <p class="box-text">20+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_3.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_3.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Urology Care</a></h3>
                        <p class="box-text">20+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_4.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_4.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Neurology Care</a></h3>
                        <p class="box-text">10+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_5.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_5.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Gynecologists</a></h3>
                        <p class="box-text">30+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_6.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_6.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Ophthalmology</a></h3>
                        <p class="box-text">24+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_7.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_7.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Orthopedics</a></h3>
                        <p class="box-text">26+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_8.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_8.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Cardiology</a></h3>
                        <p class="box-text">20+ Doctors</p>
                        <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                    </div>
                </div>
            </div>
            <div class="mt-5 pt-2 space-extra-bottom">
                <p class="round-text"><span class="text">You Get Our 20+ More services... <a href="service.html" class="line-btn">Explore All Services</a></span></p>
            </div>
        </div>
    </section>

{% endblock %}